<section class="login">
  <h1 class="title">Budget Tracker</h1>
  <div class="btns-div">
    <button class="login-btn" type="button">
      <%= link_to "LOG IN", new_user_session_path,class:'link' %>
    </button>
    <button class="signup-btn" type="button">
      <%= link_to "SIGN UP", new_user_registration_path,class:'link sign-link' %>
    </button>
  </div>
</section>
